# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.in
*.out
lcs-serial
lcs-omp
lcs-mpi
*.i*86
*.x86_64
*.hex
public-instances
*.cpp~
Makefile~
output
